<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4f786cac-ff26-4933-a2b4-d8f550e1fe73/resourceGroups/IRS/providers/Microsoft.Web/sites/TaxesAssistant</ResourceId>
    <ResourceGroup>IRS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://taxesassistant-d0crehccbvacbwek.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>997dd1c8-bbb0-4273-81e7-6fc7e470dd20</ProjectGuid>
    <MSDeployServiceURL>taxesassistant-d0crehccbvacbwek.scm.eastus2-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TaxesAssistant</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUFC5aWGo0k2mlos1guPYuQAAAAACAAAAAAAQZgAAAAEAACAAAAAXLFGXgJEqmdJtl1wR7Wz9o4QAMnUzUzbCvk9AW/jQeQAAAAAOgAAAAAIAACAAAAB+ghebSrWQewIUhGdhCkGHX3qrZ9rAQmNmxdcMHHJCiSAAAADrVQxsB+OX+tyNM73MXkELqbSvt//ikCCa4xT1ELSX/UAAAAARUBTn5glfc7+xNzzfCltDF4cFFRhtYsJMGy8RvFBwgvTM0T3QHsCDbx2033/7xmGjGrEuYSAHpDUyjzdCo4hz</EncryptedPassword>
    <History>False|2025-09-09T16:50:07.2334074Z||;False|2025-09-09T12:48:23.5387261-04:00||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>